<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Welcome to Rock, Paper, Scissors Game</h1>
    <p>Please add your names to begin game!</p>
    <form action ="/1stPlayer" method="post">
        <p>Player 1: <input id="player1-name-textbox" type="text" name="player1" required></p>
        <p>Player 2: <input id="player2-name-textbox" type="text" name="player2" required></p>
        <p>How many matches would you like to play?</p>
        <input id="rounds" type="number" min="1" name="rounds" required>
        <input id="submit-names" type="submit" value="Submit">
    </form>
</body>
</html>